/bin/
/build/
/.gradle/
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.buildship.core.prefs
com.variamos.common/.classpath
.settings/org.eclipse.buildship.core.prefs
*.prefs
com.variamos.common/.settings/org.eclipse.buildship.core.prefs
com.variamos.gui/VariaMos.lnk
com.variamos.hlcl/.classpath
com.variamos.hlcl/.settings/org.eclipse.buildship.core.prefs
com.variamos.io/.classpath
com.variamos.io/.settings/org.eclipse.buildship.core.prefs
com.variamos.reasoning/.classpath
com.variamos.solver/.classpath
com.variamos.solver/.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.buildship.core.prefs
